*{margin: 0; padding: 0}
a{text-decoration: none;}
body{
  height: 100vh;
  background: grey url(./img/斧王.jpg) no-repeat center center;
  background-size: cover;
}
main{
  text-align:center;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#main{
  display:inline-block;
  background:rgba(255,255,255,0.2);
  border-radius: 10px;
}

.row {
  margin: 20px;
}
.key {
  width: 50px;
  height: 40px;
  border: 1px solid #373737;
  border-radius: 6px;
  background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(41,41,41,1) 100%);
  color: #C5C5C5;
  display:inline-block;
  box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
  position: relative; 
  margin: 0 10px;
}
.key button{
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 4px;
  color: #C5C5C5;
  background: none;
  border:none;
}
.key:hover > button{
  display: inline-block;
}
.key .text{
  position: absolute;
  left: 22px;
}
.key img{
  width: 16px;
  height: 16px;
  position: absolute;
  left: 4px;
  bottom: 1px;
}